
/* Estilos para el párrafo dentro del contenedor */
.user-info-container{
width: 95%;

}

.user-info-container p {
  margin: 10px 0; 
  color: #005a71;
  text-align: center;
}

/* Estilos para el avatar */
.avatar {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  background-color: #297465;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 85px;
  color: white;
  margin: 0 auto; /* Centrar horizontalmente */
  margin-bottom: 10px;
}

/* Estilos para el nombre del usuario */
.user-name {
  font-family: "Varela Round", sans-serif;
  font-size: 30px; /* Reducir el tamaño del nombre en pantallas pequeñas */
  color: #15676b;
  margin: 0;
}

/* Estilos para el correo electrónico del usuario */
.user-email {
  font-family: "Edu SA Beginner", cursive;
  font-size: 16px; /* Reducir el tamaño del correo en pantallas pequeñas */
  margin: 5px 0;
}

/* Estilos para los contenedores de información */
/* Estilos base */
.user-info,
.user-pp {
  font-size: 16px; /* Tamaño de fuente base */
}

.user-name {
  font-size: 28px; /* Tamaño de fuente del nombre */
}

.logo {
  width: 20%; /* Tamaño del logo */
  top: 1%; /* Posición superior del logo */
  left: 3%;
}


/* Estilos para pantallas grandes */
@media screen and (min-width: 769px) {
  /* Aplicar estos estilos cuando el ancho de la pantalla sea mayor o igual a 769px */
  .user-info,
  .user-pp {
    font-size: 70px; /* Aumentar el tamaño de fuente en pantallas grandes */
    max-width: 100%; /* Limitar el ancho de los contenedores en pantallas grandes */
  }
  
  .user-name {
    font-size: 50px; /* Aumentar el tamaño del nombre en pantallas grandes */
  
  }
  .logo {
    width: 30%; /* Ajusta el tamaño del logo en pantallas más pequeñas */
    top: 2%; /* Ajusta la posición superior del logo */
  }
  /* Estilos para pantallas pequeñas */
  @media screen and (max-width: 768px) {
    /* Aplicar estos estilos cuando el ancho de la pantalla sea 768px o menos */
    .user-info,
    .user-pp {
      font-size: 14px; /* Reducir el tamaño de fuente en pantallas pequeñas */
      max-width: 100%; /* Permitir que los contenedores ocupen todo el ancho en pantallas pequeñas */
    }
  
    .user-name {
      font-size: 24px; /* Ajustar el tamaño del nombre en pantallas pequeñas */
    }
  
    .user-info-container{
      width: auto;
      height: 200px;
      
      }
      .logo {
        width: 200px; /* Ajusta el tamaño del logo en pantallas más pequeñas */
        top: 2%; /* Ajusta la posición superior del logo */
      }
      
  }
  
  
} 
