
.search-container input {
  width: 100%; /* Ocupa el ancho completo del contenedor */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
  margin-top: 10px; /* Ajusta el margen superior según tus necesidades */
  box-sizing: border-box; /* Asegura que el padding y el borde no aumenten el ancho total */
}

.search-container input::placeholder {
  color: #aaa;
}

.search-container input:focus {
  border-color: #007bff;
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.5);
}

/* Estilos para el contenedor del input de búsqueda */
.search-input {
  position: relative; /* Cambiado a relativo para que flote dentro del contenedor */
  width: 100%; /* Ocupa el ancho completo del contenedor */
  max-width: 300px; /* Ancho máximo para evitar que se vuelva demasiado ancho en pantallas grandes */
  margin: 0 auto; /* Centra horizontalmente el contenedor en la pantalla */
}

/* Estilos para el contenedor del input de búsqueda en pantallas grandes */
@media screen and (min-width: 769px) {
  .search-input {
    max-width: 500px; /* Ajusta el ancho máximo según tus necesidades */
    margin: 0 auto; /* Centra horizontalmente el contenedor en la pantalla */
  }

  .search-container {
    display: flex; /* Usa flexbox para alinear el contenido */
    justify-content: flex-end; /* Alinea el contenido a la derecha */
  }
  
  .search-container input {
    font-size: 20px; /* Ajusta el tamaño de fuente según tus necesidades */
  }
}
